
<% @users = pagination(@users) %>
<div layout="row">
<div flex layout-padding>
<% @users.each do |user| %>
			<md-list flex>
        <md-list-item class="md-1-line" ng-cloak>
					<%= user.username%><br>
					<%= user.email%>
					<div flex></div>
<md-fab-speed-dial md-direction="left" class="md-fling">
  <md-fab-trigger>
    <md-button class="md-fab md-primary md-button md-ink-ripple"><md-icon md-font-set="material-icons">mode_edit</md-icon></md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button class="md-fab md-mini md-ink-ripple">
			<md-icon md-font-set="material-icons">delete</md-icon>
			<md-tooltip md-direction="top">Delete</md-tooltip>
		</md-button>
    <md-button class="md-fab md-mini md-ink-ripple">
			<md-icon md-font-set="material-icons">file_upload</md-icon>
			<md-tooltip md-direction="top">Admin</md-tooltip>
		</md-button>
  </md-fab-actions>
</md-fab-speed-dial>
        </md-list-item>
      </md-list>
<md-divider ></md-divider>
<%end%>
	<%= will_paginate @users %>
</div>
</div>
