
<div layout="row">
	<div flex="20" class="side">
<div layout="column">
<div layout="column">
<md-button ng-href="<%=user_cars_path(current_user)%>">MY CARS</md-button>
<md-button ng-href="<%=user_favs_path(current_user)%>">MY FAVS</md-button>
<% if current_user.isadmin == true%>
<md-button ng-href="<%=admin_cars_path%>">MANAGE CARS</md-button>
<md-button ng-href="<%=admin_users_path%>">MANAGE USERS</md-button>
<%end%>
</div>
</div>    
	</div>

	<div flex layout-padding>

