
<h1>SideBar</h1>
<%= link_to 'My Cars', my_cars_path%><br>
<%= link_to 'My Favs', my_fav_path%><br>
<% if current_user.isadmin == true%>
<%= link_to 'Manage Cars',manager_cars_path%><br>
<%= link_to 'Manage users', users_path%><br>
<%end%>
