<div class="banner"></div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
			<div class="feature-title">BUY</div>
			<div class="feature-text">Find a car that fits you perfectly.</div>
			<div class="feature-button">
			<%= link_to do%>
				<button type="button" class="btn btn-default">Browse cars</button>
			<% end %>
			</div>
			<hr>
		</div>
    <div class="col-sm-4">
			<div class="feature-title">SELL</div>
			<div class="feature-text">Let's see if anyone interested in your car.</div>
			<div class="feature-button">
			<%= link_to do%>
				<button type="button" class="btn btn-default">Sell my car</button>
			<% end %>
			</div>
			<hr>
    </div>
    <div class="col-sm-4">
			<div class="feature-title">LEARN</div>
			<div class="feature-text">Do you know these things about cars?</div>
			<div class="feature-button">
			<%= link_to do%>
				<button type="button" class="btn btn-default">Learn about cars</button>
			<% end %>
			</div>
			<hr>
    </div>
  </div>
</div>
