<div class="banner">
	<span>CARS' PLACE</span>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
			<div class="feature-title">BUY</div>
			<div class="feature-text">Find a car that fits you perfectly.</div>
			<div class="feature-button">
			<%= link_to do%>
				<button type="button" class="btn btn-default">BROWSE CARS</button>
			<% end %>
			</div>
			<hr>
		</div>
    <div class="col-sm-4">
			<div class="feature-title">SELL</div>
			<div class="feature-text">Let's see if anyone is interested in your car.</div>
			<div class="feature-button">
			<%= link_to do%>
				<button type="button" class="btn btn-default">SELL MY CAR</button>
			<% end %>
			</div>
			<hr>
    </div>
    <div class="col-sm-4">
			<div class="feature-title">INFO</div>
			<div class="feature-text">Do you wanna know more about cars?</div>
			<div class="feature-button">
			<%= link_to do%>
				<button type="button" class="btn btn-default">GET CAR INFO</button>
			<% end %>
			</div>
			<hr>
    </div>
  </div>
</div>
