/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require angular-material
 *= require_self
 */

html {
	background: #E8EAF6;
}

body {
	background: #E8EAF6;
}

.md-toolbar-tools a {
	margin-right: 20px;
}

md-content.login {
	text-align: center;
	margin: 20px 50px;
}

md-input-container .md-errors-spacer {
	color: red;
	float: left;
}

.card-media {
	background-size: cover;
	background-position: center;
}

.pagination {
	text-align: center;
}

.header-toolbar {
	margin-bottom: -64px;
}

div {
	z-index: 2;
}

md-input-container .md-errors-spacer {
	min-height: 0;
}

#filename {
	padding-top: 15px;
}

span.admin {
	position: absolute;
	top: 22px;
	left: 200px;
	padding: 2px 5px;
	border-radius: 10px;
	background: #3F51B5;
	color: #E8EAF6;
}

div.md-media-lg.card-media {
	width: 250px;
	height: 250px;
}
