/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

/*css on index.html*/
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	width: 100%;
  margin-bottom: 0;
  border-radius: 0;
	background-image: none;
	background-color: #333;
	border-width: 0;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	text-shadow: 0 0 0;
	font-weight: bold;
	color: #fff;
}

footer {
	color: rgba(51,51,51,0.5);
  padding: 15px 0 30px 0;
}

.btn-default, .btn-default:hover, .btn-default:active:hover, .btn-default:active {
	box-shadow: none;
	background-color: rgba(0,0,0,0);
	background-image: none;
	border-color: #333;
	border-radius: 0;
}

a.navbar-brand {
	font-weight: bold;
}

.navbar-collapse.collapsing {
	position: absolute;
	border-width: 0;
}
@media (max-width: 767px) {
	.navbar-collapse {
		width: 100%;
		background-color: rgba(51,51,51,0.8);
		position: absolute;
		border-width: 0;
		box-shadow: 0 0 0;
	}
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: rgba(0, 0, 0, 0);
	border-width: 0;
}

input.underline_textfield {
	border: none;
	border-bottom: 1px #eee solid;
	padding:5px;
	margin-bottom: 15px;
}
input.underline_textfield:focus {
	outline: none;
}
form {
	margin-top: 15px;
	text-align: center;
}


@media (min-width: 767px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}



/*css for car list*/
.carlist{
  background-color: #eee;
  margin-top: 10px;
}

img{
  width:100%;
  height:auto;
}
a{
	color: black;
}
a:hover{
	text-decoration: none;
	color:gery;
}
a:visited{
	color:gery;
}
.cartitle{
	margin-top: 15px;
	font-size: 1.8em;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	line-height: 1.5;

}
.caryear{
	display: inline;
	padding-right: 5px;
}
.carmake{
	display: inline;
	padding-right: 5px;
}
.carmodel{
	display:inline;
	padding-right: 5px;
}
.carprice{
	font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5em;
	margin-right: 8px;
	display: inline-block;
	padding-right: 10px;
}
.carmileage{
	font-size: 1.75rem;
  font-weight: 600;
	display: inline-block;
}
.carlocation{
	font-size: 1.0em;
}
.carseller{
 margin-top: 15px;
}
.carcontact{
}
.favorite{
	color: red;
}






/*css for carshow*/
.post{
  background-color: #eee;
}
.postname{
  font-weight: bold;
  text-align: center;
}
.postcreatetime{
  text-align: center;
}
.postupdatetime{
  text-align: center;
}
.postyear{
  display: inline-block;
}
.postmake{
  display: inline-block;
}
.postmodel{
  display: inline-block;
}
.postmileage{
  display: inline-block;
}
.postprice{
}
.postcontact{
  display: inline-block;
}
.postissold{
}
.issold{
  display: inline-block;
  margin-top: 0px;
  text-align: left;
}
.postcity{
  display: inline-block;
}
.poststate{
  display: inline-block;
}
.postpicture{
  width:60%;
}

/*css of show comment*/
.comment{
  margin-top: 5px;
  background-color: #eee;
}
.commentadd{
  text-align:center;
}
.reply{
  text-align: center;
}
.content_text{
  text-align: left;
}
