// Place all the styles related to the car controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//css for car list
.carlist{
  background-color: #eee;
  margin-top: 10px;
	display: inline-block;
}

img{
  width:100%;
  height:auto;
}
.cartitle{
	font-size: 1.8em;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	line-height: 1.5;
}
.carprice{
	font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5em;
	margin-right: 8px;
	display: inline-block;
}
.carmileage{
	font-size: 1.75rem;
  font-weight: 600;
	display: inline-block;
}
.carlocation{
	font-size: 1.0em;
}
.carseller{
	display: inline-block;
}
.carcontact{
	display: inline-block;
}


//css for new car;
.main{
	text-align:center;
	background-color: #eee;
}

//css for carshow
.post{
  background-color: #eee;
}
.postname{
  font-weight: bold;
  text-align: center;
}
.postcreatetime{
  text-align: center;
}
.postupdatetime{
  text-align: center;
}
.postyear{
  display: inline-block;
}
.postmake{
  display: inline-block;
}
.postmodel{
  display: inline-block;
}
.postmileage{
  display: inline-block;
}
.postprice{
}
.postcontact{
  display: inline-block;
}
.postissold{
}
.issold{
  display: inline-block;
  margin-top: 0px;
  text-align: left;
}
.postcity{
  display: inline-block;
}
.poststate{
  display: inline-block;
}
.postpicture{
  width:60%;
}
//css of show comment
.comment{
  margin-top: 5px;
  background-color: #eee;
}
.commentadd{
  text-align:center;
}
.reply{
  text-align: center;
}
.content_text{
  text-align: left;
}
