// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// css for cars list
.dropdown{
  text-align: right;
  margin-right: 50px;
}
.pagination{
  text-align: center;
  display: block;
}
/*css for new car;*/
.main{
  padding-top: 50px;
	padding-bottom: 50px;
	background-color: #eee;
}

#car_picture{
display: inline-block;
}
