// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
	background-color: rgba(0,0,0,0);
}
.banner {
	z-index: -1;
	position: relative;
	top: -50px;
	margin-bottom: -50px;
	display: table;
	width: 100%;
	height: 0;
	background-image: url('home/banner_crv2.jpg');
	background-position: 0% 0%;
	background-size: cover;
	overflow: hidden;
}

.banner span {
	background-color: rgba(51,51,51,0.5);
	font-size: 80px;
	font-weight: bold;
	color:white;
	display: table-cell;
	height:400px;
	vertical-align: middle;
	text-align: center;
}

@media (max-width: 767px) {
	.banner span {
		font-size: 50px;
		height:300px;
	}
}

img.img-responsive {
  width: 100%;
}

.feature-title {
	font-size: 30px;
	font-weight: bold;
}

.feature-text {
	font-size: 16px;
	margin: 15px 0;
	min-height: 44px;
	max-height: 44px;
}

.col-sm-4 {
	padding: 15px 0 0 0;
}

