// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
	height: 0;
	margin-top: -50px;
	padding-bottom: 400px;
	background-image: url('home/banner_crv2.jpg');
	background-position: left-center;
	background-size: cover;
}

img.img-responsive {
  width: 100%;
}

.feature-title {
	font-size: 30px;
	font-weight: bold;
}

.feature-text {
	margin: 15px 0;
	min-height: 40px;
}

.col-sm-4 {
	padding: 15px 0 0 0;
}

