<% @cars = pagination(@cars) %>

<div layout="row">
<div flex="10"></div>

<div flex>
  <% @cars.each do |car| %>
<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media" style="background-image: url('/assets/user_car/<%=car.picture.to_s%>');"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
  <% end %>
  <%= will_paginate @cars %>
</div>

<div flex="10"></div>

</div>
