        <label>State</label>
        <md-select ng-model="state" ng-change="stateSelected()">
          <md-option value="AL">AL</md-option>
					<md-option value="AK">AK</md-option>
					<md-option value="AZ">AZ</md-option>
					<md-option value="AR">AR</md-option>
					<md-option value="CA">CA</md-option>
					<md-option value="CO">CO</md-option>
					<md-option value="CT">CT</md-option>
					<md-option value="DE">DE</md-option>
					<md-option value="FL">FL</md-option>
					<md-option value="GA">GA</md-option>
					<md-option value="HI">HI</md-option>
					<md-option value="ID">ID</md-option>
					<md-option value="IL">IL</md-option>
					<md-option value="IN">IN</md-option>
					<md-option value="IA">IA</md-option>
          <md-option value="KS">KS</md-option>
					<md-option value="KY">KY</md-option>
					<md-option value="LA">LA</md-option>
					<md-option value="ME">ME</md-option>
					<md-option value="MD">MD</md-option>
					<md-option value="MA">MA</md-option>
					<md-option value="MI">MI</md-option>
					<md-option value="MN">MN</md-option>
					<md-option value="MS">MS</md-option>
					<md-option value="MO">MO</md-option>
					<md-option value="MT">MT</md-option>
					<md-option value="NE">NE</md-option>
					<md-option value="NV">NV</md-option>
					<md-option value="NH">NH</md-option>
					<md-option value="NJ">NJ</md-option>
					<md-option value="NM">NM</md-option>
					<md-option value="NY">NY</md-option>
					<md-option value="NC">NC</md-option>
					<md-option value="ND">ND</md-option>
					<md-option value="OH">OH</md-option>
					<md-option value="OK">OK</md-option>
					<md-option value="OR">OR</md-option>
					<md-option value="PA">PA</md-option>
					<md-option value="RI">RI</md-option>
					<md-option value="SC">SC</md-option>
					<md-option value="SD">SD</md-option>
					<md-option value="TN">TN</md-option>
					<md-option value="TX">TX</md-option>
					<md-option value="UI">UT</md-option>
					<md-option value="VI">VT</md-option>
					<md-option value="VA">VA</md-option>
					<md-option value="WA">WA</md-option>
					<md-option value="WV">WV</md-option>
					<md-option value="WI">WI</md-option>
					<md-option value="WY">WY</md-option>	
        </md-select>
				<div class="md-errors-spacer"></div>

