<div class="inner">
<div class="postprofile">
  <div class="pfile">
  <h5>usename<h5>
  <span>post time</span>
  <span>join time</span>
  </div>
</div>
<div class="postbody">
  <div class="pbody">
   <h4>title~~~~~~~~~~~~<h4>
   <p>content~~~~~~<p>
   <p>picture</p>
  </div>
</div>
</div>
