<div layout="row">
<div flex="10"></div>
<div flex="20">
<%= link_to 'buy', info_buy_path%><br>
<%= link_to 'inspection', info_inspection_path%><br>
<%= link_to 'insurance',info_insurance_path%><br>
</div>
