<div layout="row">
<div flex="10" hide-xs hide-sm></div>
<div flex>
<md-tabs md-stretch-tabs="always" md-dynamic-height>
<md-tab id="tab1">
	<md-tab-label>BUY</md-tab-label>
	<md-tab-body>
<div flex layout-padding>
        <div class="blog-post">
          <h2 class="">Buy Used Car </h2>
          <p class="">April 1, 2016 by <a href="#">Shane</a></p>
          <p>How To Find and Buy a Good Used Car? We may need to think about several questions at first.
          </p>
          <ul>
            <li>How Much Car Can You Afford?</li>
            <li>Build a Target List of Used Cars.</li>
          </ul>
          <hr>
          <h3>Buy Used Car from Dealer</h3>
          <h4> Search Online,Check Prices and Reviews
          </h4>
          <p>To see if the cars you are looking at fit into your budget, check True Market Value pricing.<a href="http://www.kbb.com/car-values/?psid=99999&siomid=sl6umu5em_dc%7C70883272732%7Ccheck%20car%20price%7Ce%7C26285lk551871#survey"> KBB</a> is a good website to check car's market price.
            You need to check all the information you need to make a good buying decision: pricing, reviews, specs, fuel economy and lists of standard features .
          <h4>Locate Used Cars for Sale in Your Area
          </h4>
          <p>You can filter the search by many factors including distance, mileage, price and features to find exactly the car you want.
            There are, of course, many places to shop for a used car, such as independent used car lots, the used car section of a new car dealership and, more recently, used car superstores.
          </p>
          <h4>Check the Vehicle History Report
          </h4>
          <p>Before you contact a used-car seller, you should get a vehicle history report for the car you're interested in buying. This is an essential first step: If the report is negative, you should not go any further with this car.
           You can access vehicle history reports, which are sold by several different companies, by the vehicle identification number (VIN) and even by license plate. AutoCheck and Carfax are the two best-known sources for vehicle history reports.
           These reports can reveal vital information about the used car, including whether it has a salvage title, which means it has been declared a total loss by the insurance company, or if the odometer has been rolled back.
          </p>
          <h4>Contact the Seller
          </h4>
          <p>
            Once you find a good prospective car, call the seller before you go to see the vehicle. This is a good way to establish a relationship with the seller and verify the information in the ad. Sometimes the seller
            will mention something that wasn't in the ad that might change your decision to buy the car.
          </p>
         <h4>Test-Drive the Car
         </h4>
         <p>Test-driving a used car not only tells you if this is the right car for you but also if this particular car is in good condition. On the test-drive, simulate the conditions of your normal driving patterns.
           If you do a lot of highway driving, be sure to take the car up to at least 65 mph. If you regularly go into the mountains, test the car on a steep slope.
         </p>
         <h4> Have the Car Inspected
         </h4>
         <p>If you like the way the car drives, you should have it inspected before you negotiate to buy it. A pre-purchase inspection can save you thousands of dollars. You can take the car to a trusted mechanic for a thorough inspection or request a mobile inspection.
           A private party will probably allow you to do this without much resistance. But at a dealership, it might be more difficult.
         </p>
         <h4>Negotiate Your Best Deal
         </h4>
         <p>Negotiating with a private-party seller can be a quick and fairly relaxed process. Negotiating with a used-car salesman will take longer and can be stressful.
         <ul>
           <li>Make an opening offer that is low</li>
           <li>Decide ahead of time how high you will go and leave when you reach your limit.</li>
           <li>Always be prepared to walk out: This is your strongest negotiating tool.</li>
           <li>Be patient. Plan to spend an hour negotiating in a dealership</li>
         </ul>
         </p>
          <hr>
          <h3>Buy Used Car from Private </h3>
          <h4>Check the address
          </h4>
          <p>Although many genuine private sellers are stop curbstoning, tips for buying a car from a private partyreluctant to meet at their homes for legitimate safety reasons,
             the vehicle owner's address will be on the registration and title. Don't hand over your money until you've confirmed that the addresses on the registration and title are,
             in fact, the seller's address.
          </p>
          <h4>Ask straight out if the seller is the owner
          </h4>
          <p>If you're talking to the owner, ask how long he or she has owned the vehicle.
             Answers like "I'm selling it for a friend," or "It's my grandmother's car," or "I've had it a couple months" are warning flags. At a minimum,
             it means the seller may not know much about the car's history. At worst, the seller may be flipping salvaged cars for profit - curbstoning.
          </p>
          <h4>Ask to see the vehicle's maintenance records
          </h4>
          <p>Bstop curbstoning, tips for buying a car from a private partyecause curbstoners are all about flipping used cars for profit, they seldom have the maintenance records for the vehicles they sell.
            If the seller doesn't have the maintenance records, then ask where the work was done. Contact that repair facility and ask to see the maintenance and repair records.
            While you're checking the records, don't overlook the obvious: make sure the name shown as the vehicle's owner matches the person you're dealing with.
            If the current owner has had the vehicle for only a short time, or lacks information about the repair history, try contacting the previous owner.
          </p>
          <h4>
             Test-drive the vehicle thoroughly.
          </h4>
          <p>
            Don't just givetest drive, stop curbstoning, tips for how to buy a used car from a private party the car a road test; most cars can be made to work fine for a ten-minute drive. Try getting on the freeway, passing, and stopping.
             Find a parking lot and drive carefully in a circle to the left and right to reveal steering issues. Speed bumps are great tools for revealing worn (and costly) suspension components.
             Make sure all the systems work, including the air conditioning and heater.
             Finally, check all the electronics and accessories: the CD player, all the power windows, and the central locking system.
             Having a second set of eyes along can prove helpful in checking turn signals, brake lights, and whether the car tracks and stops in a level, straight line.
          </p>
          <h4>
            Have the car inspected.
          </h4>
          <p>
            Most mechanics will look over a car for a nominal fee, usually less than $100.
            Although a CARFAX report is great, it only looks at what's documented. For instance, it might show that damage from a minor fender-bender had been repaired, but it can't possibly curbstoning,
            stop curbstoning, have a car inspected before you buy from a private partyexamine how well that repair was done.
            And, conversely, work that the owner did personally may not show up as part of the vehicle records.<br>
            This gap between documentation and reality becomes bigger when looking at high-mileage vehicles, older vehicles, restored or customized vehicles,
            and collectibles.Also, it should be noted that a false VIN would produce a false report: one that belongs to the VIN plate, but not the rest of the car.
          </p>
          <h4>
            Remember: buy the seller before you buy the car.
          </h4>
          <p>If something sounds fishy, walk away. If something doesn't add up, walk away.
           For instance, if they say the car's never been in an accident, but your mechanic's inspection turns up signs of body work - you've already been lied to. Walk away.
          </p>

          <P><strong>Buying a used car from its owner can be fun! </strong>There's the thrill of the hunt, the joy of finding what you want, and often the reward of a lower price as well. Just make sure that you're actually buying from the car's owner,
            and not a curbstoner. And drive a cream puff, not a rotten egg.
          </P>

        </div>
        </div>
	</md-tab-body>
</md-tab>
<md-tab id="tab2">
	<md-tab-label>INSPECTION</md-tab-label>
	<md-tab-body>
<div flex layout-padding>
        <div class="blog-post">
          <h2 class="">Car Inspection Tips</h2>
          <p class="">January 1, 2014 by <a href="#">Jolin</a></p>
          <p>All Texas registered vehicles are required to receive an annual inspection. All inspections include a comprehensive safety inspection;
            however, some vehicles are required to have an emissions test in addition to the safety inspection.
          </p>
          <h4> What is involved in a safety inspection?
          </h4>
          <p>The safety inspection critieria set by the State of Texas is designed to make sure that your vehicle is operating safely and includes checks of your vehicle's:
          <ul>
            <li>Exhaust system</li>
            <li>Headlights, stop and warning lights, and turn signals</li>
            <li>Foot and parking brakes</li>
            <li>Wheel assembly and tires for damage/minimum tread depth</li>
            <li>Steering mechanism</li>
            <li>Rear-view mirrors</li>
            <li>Window tinting or coating</li>
            <li>Horn</li>
            <li>Windshield wipers</li>
            <li>Seat belts</li>
            <li>Gas caps (for vehicles 2-24 model years old)</li>
          </ul>
          If your vehicle passes, the Texas Department of Motor Vehicles (TxDMV) will automatically be notified to clear the way for your vehicle registration renewal.
          Since the Texas "Two Steps One Sticker" program began in March 2015, you will no longer receive a sticker at the time of your inspection.
          Instead, you'll receive a Vehicle Inspection Report (VIR), then later at the time of your registration you'll receive a sticker that will serve as combined proof of both inspection and registration.
          Be sure to keep your VIR paperwork until you receive your actual sticker in case there is any issue with the DMV's electonic verification of your inspection!
          </p>
          <h4>How often is a safety inspection required?
          </h4>
          <p>
            <ul>
              <li><strong>Multi-year Registrations</strong> - If you happen to have a multi-year registration, you will still be required to have your vehicle inspected each year.
                The TxDMV will send a reminder notice, and to avoid possible fines you'll need to complete inspection and submit payment to your county office for the
                state's portion of the inspection fee within 30 days of your registration month.</li>
              <li><strong>New Residents</strong> - If you have recently moved to Texas, you have 30 days after your move to have your vehicle inspected and registered. Stop by
                a DEKRA station for your inspection first before visiting the TxDMV to process your new registration.</li>
              <li><strong>Out of State Vehicles</strong> - If your vehicle is out of state at the time your inspection is due (such as if your college student attends university in another state), you can renew your registration with an out-of-state self-certification,
                but you'll have to complete your inspection within 3 days of returning to Texas.</li>
              <li><strong>Used Car Sales and Title Transfers</strong> - If you purchase a vehicle from a dealership, they should sell the vehicle with a current inspection to allow you to immediately complete the title and registration at the TxDMV. However, if you purchase a vehicle from a private party or are given the title to a vehicle, you'll need to check the inspection status as the vehicle needs a current,
                 passing vehicle inspection before you complete the necessary paperwork at the TxDMV.</li>
            </ul>
          </p>
        </div>
        </div>
	</md-tab-body>
</md-tab>
<md-tab id="tab3">
	<md-tab-label>INSURANCE</md-tab-label>
	<md-tab-body>
	<div layout-padding>
        <div class="blog-post">
          <h2 class="">Car Insurance tips</h2>
          <p class="">January 1, 2014 by <a href="#">Shane</a></p>
          <h4> Specific Factors that Affect Your Rate
          </h4>
          <p>
          <ol>
            <li>Your driving record – drivers with previous violations or accidents are considered to be higher risk</li>
            <li>Your geographic territory – urban areas have more claims than rural areas</li>
            <li>Your gender and age – males have more accidents; certain age groups have more claims</li>
            <li>Your marital status – married people show lower rates of claims</li>
            <li>Prior insurance coverage – if you have been cancelled for non-payment of premiums</li>
            <li>Vehicle use – higher annual mileage results in higher exposure to risk</li>
            <li>Make and model of your vehicle – luxury and sports cars average a higher number of claims</li>
          </ol>
          </p>
          <h4>Ask Your Agent About Discounts
          </h4>
          <p>Discounts are awarded because the insurance company sees you as a “better risk.” Here are some discounts you should look for: multiple vehicles, driver education courses, good student, safety devices, anti-theft devices, low mileage, good driver/renewal, auto/home package and dividends.
            Not all states offer all discounts, so check with your agent to see if you qualify.
          </p>
          <h4>Check Into Optional Coverage
          </h4>
          <p>The most commonly recognized coverages, in addition to the basic liability package, are collision and comprehensive coverages. Collision coverage pays for physical damage to your car as a result of your auto colliding with an object such as a tree or another car. This is relatively expensive coverage and is not required by law. Comprehensive coverage pays for damage to your auto from almost all other causes, including fire, severe weather, vandalism, floods and theft. This coverage will also cover broken glass and windshield damage. Comprehensive coverage is less expensive than collision,
            but is also optional. Other optional coverages include medical payments coverage, rental reimbursement coverage and towing and labor coverage.
          </p>
          <h4>Shop Around Before You Buy
          </h4>
          <p>When shopping for auto insurance, premium quotations are a useful tool for comparison of different companies’ products. When asking for price quotations, it is crucial that you provide the same information to each agent or company. The agent will usually request the following information: description of your vehicle, its use, your driver’s license number,
            the number of drivers in your household, the coverages and limits you want.
          </p>
          <h4>For Your Protection
          </h4>
          <p>Once you have selected the insurance coverages you need and an insurance agent or company, there are steps you can take to make certain you get your money’s worth. Before signing an application for any insurance coverage, call you state insurance department and verify that the company and the agent are licensed to do business in your state. It is illegal for unlicensed insurers to sell insurance, and if you buy from an unlicensed insurer,
             you have no guarantee that the coverage you pay for will ever be honored.
          </p>
          <h4>Read Your Policy Carefully
          </h4>
          <p>You should be aware that an auto insurance policy is a legal contract. It is written so your rights and responsibilities, as well as those of the insurance company, are clearly stated. When you purchase auto insurance, you will receive a policy. You should read that policy and make certain you understand its contents. If you have questions about your insurance policy, contact your insurance agent for clarification.
            If you still have questions, turn to your state insurance department.
          </p>
      </div>
      </div>
	</md-tab-body>
</md-tab>
</md-tabs>
</div>
<div flex="10" hide-xs hide-sm></div>
</div>
