<%= render 'info/side' %>
<div flex>

        <div class="blog-post">
          <h2 class="blog-post-title">Car Inspection Tips</h2>
          <p class="blog-post-meta">January 1, 2014 by <a href="#">Jolin</a></p>
          <p>All Texas registered vehicles are required to receive an annual inspection. All inspections include a comprehensive safety inspection;
            however, some vehicles are required to have an emissions test in addition to the safety inspection.
          </p>
          <h4> What is involved in a safety inspection?
          </h4>
          <p>The safety inspection critieria set by the State of Texas is designed to make sure that your vehicle is operating safely and includes checks of your vehicle's:
          <ul>
            <li>Exhaust system</li>
            <li>Headlights, stop and warning lights, and turn signals</li>
            <li>Foot and parking brakes</li>
            <li>Wheel assembly and tires for damage/minimum tread depth</li>
            <li>Steering mechanism</li>
            <li>Rear-view mirrors</li>
            <li>Window tinting or coating</li>
            <li>Horn</li>
            <li>Windshield wipers</li>
            <li>Seat belts</li>
            <li>Gas caps (for vehicles 2-24 model years old)</li>
          </ul>
          If your vehicle passes, the Texas Department of Motor Vehicles (TxDMV) will automatically be notified to clear the way for your vehicle registration renewal.
          Since the Texas "Two Steps One Sticker" program began in March 2015, you will no longer receive a sticker at the time of your inspection.
          Instead, you'll receive a Vehicle Inspection Report (VIR), then later at the time of your registration you'll receive a sticker that will serve as combined proof of both inspection and registration.
          Be sure to keep your VIR paperwork until you receive your actual sticker in case there is any issue with the DMV's electonic verification of your inspection!
          </p>
          <h4>How often is a safety inspection required?
          </h4>
          <p>
            <ul>
              <li><strong>Multi-year Registrations</strong> - If you happen to have a multi-year registration, you will still be required to have your vehicle inspected each year.
                The TxDMV will send a reminder notice, and to avoid possible fines you'll need to complete inspection and submit payment to your county office for the
                state's portion of the inspection fee within 30 days of your registration month.</li>
              <li><strong>New Residents</strong> - If you have recently moved to Texas, you have 30 days after your move to have your vehicle inspected and registered. Stop by
                a DEKRA station for your inspection first before visiting the TxDMV to process your new registration.</li>
              <li><strong>Out of State Vehicles</strong> - If your vehicle is out of state at the time your inspection is due (such as if your college student attends university in another state), you can renew your registration with an out-of-state self-certification,
                but you'll have to complete your inspection within 3 days of returning to Texas.</li>
              <li><strong>Used Car Sales and Title Transfers</strong> - If you purchase a vehicle from a dealership, they should sell the vehicle with a current inspection to allow you to immediately complete the title and registration at the TxDMV. However, if you purchase a vehicle from a private party or are given the title to a vehicle, you'll need to check the inspection status as the vehicle needs a current,
                 passing vehicle inspection before you complete the necessary paperwork at the TxDMV.</li>
            </ul>
          </p>
        </div>
      </div>
    <div flex="10"></div>
</div>
