<%= render 'info/side' %>
<div flex>

        <div class="blog-post">
          <h2 class="">Car Insurance tips</h2>
          <p class="">January 1, 2014 by <a href="#">Shane</a></p>
          <h4> Specific Factors that Affect Your Rate
          </h4>
          <p>
          <ol>
            <li>Your driving record – drivers with previous violations or accidents are considered to be higher risk</li>
            <li>Your geographic territory – urban areas have more claims than rural areas</li>
            <li>Your gender and age – males have more accidents; certain age groups have more claims</li>
            <li>Your marital status – married people show lower rates of claims</li>
            <li>Prior insurance coverage – if you have been cancelled for non-payment of premiums</li>
            <li>Vehicle use – higher annual mileage results in higher exposure to risk</li>
            <li>Make and model of your vehicle – luxury and sports cars average a higher number of claims</li>
          </ol>
          </p>
          <h4>Ask Your Agent About Discounts
          </h4>
          <p>Discounts are awarded because the insurance company sees you as a “better risk.” Here are some discounts you should look for: multiple vehicles, driver education courses, good student, safety devices, anti-theft devices, low mileage, good driver/renewal, auto/home package and dividends.
            Not all states offer all discounts, so check with your agent to see if you qualify.
          </p>
          <h4>Check Into Optional Coverage
          </h4>
          <p>The most commonly recognized coverages, in addition to the basic liability package, are collision and comprehensive coverages. Collision coverage pays for physical damage to your car as a result of your auto colliding with an object such as a tree or another car. This is relatively expensive coverage and is not required by law. Comprehensive coverage pays for damage to your auto from almost all other causes, including fire, severe weather, vandalism, floods and theft. This coverage will also cover broken glass and windshield damage. Comprehensive coverage is less expensive than collision,
            but is also optional. Other optional coverages include medical payments coverage, rental reimbursement coverage and towing and labor coverage.
          </p>
          <h4>Shop Around Before You Buy
          </h4>
          <p>When shopping for auto insurance, premium quotations are a useful tool for comparison of different companies’ products. When asking for price quotations, it is crucial that you provide the same information to each agent or company. The agent will usually request the following information: description of your vehicle, its use, your driver’s license number,
            the number of drivers in your household, the coverages and limits you want.
          </p>
          <h4>For Your Protection
          </h4>
          <p>Once you have selected the insurance coverages you need and an insurance agent or company, there are steps you can take to make certain you get your money’s worth. Before signing an application for any insurance coverage, call you state insurance department and verify that the company and the agent are licensed to do business in your state. It is illegal for unlicensed insurers to sell insurance, and if you buy from an unlicensed insurer,
             you have no guarantee that the coverage you pay for will ever be honored.
          </p>
          <h4>Read Your Policy Carefully
          </h4>
          <p>You should be aware that an auto insurance policy is a legal contract. It is written so your rights and responsibilities, as well as those of the insurance company, are clearly stated. When you purchase auto insurance, you will receive a policy. You should read that policy and make certain you understand its contents. If you have questions about your insurance policy, contact your insurance agent for clarification.
            If you still have questions, turn to your state insurance department.
          </p>
      </div>
    </div>
    <div flex="10"></div>
</div>
