<md-toolbar class="md-tall">
	<span flex></span>
	<h2 class="md-toolbar-tools md-toolbar-tools-bottom">
		<span flex></span>
		Made with &#x2764 by Jolin and Shane
		<span flex></span>
	</h2>
</md-toolbar>
